{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About</h1>
          <span class="subheading">This is what we do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          <b>Mayank Pandey:</b> Mayank contributed to both front-end and back-end
          aspects of the website, bridging the gap between design and
          functionality. He helped in optimizing website performance and
          ensuring seamless integration between various features, such as the
          comment system and user interactions.
        </p>
        <p>
          <b>Tariq Abdin:</b> Tariq focused on the back-end development, ensuring that
          the website’s content management system (CMS) is robust and efficient.
          He worked with databases, user authentication, and server-side
          programming, making sure the blog runs smoothly and securely.
        </p>
        <p>
          <b>Kartik Bhatt:</b> Kartik was responsible for the front-end design and
          development of the blog website. His expertise in HTML, CSS, and
          Jinja templates allowed him to create an intuitive user interface with
          smooth navigation, making the blog both functional and visually
          appealing.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
